<div class="jumbotron">
	<div class="container">
		<h1 class="display-3">Sample Application</h1>
		<p>This is a Simple Application to show skills in PHP OOP, Design Patterns, HTML, CSS, JavaScript and SQL.</p>
		<p>
			<a href="https://github.com/milan-vugrinchev/sample-application" class="btn btn-primary btn-lg" target="_blank">Learn More</a>
		</p>
	</div>
</div>
<section class="container-fluid flex-grow">
	{{ $breadcrumb }}
	<div class="row">
		<div class="col-md-8 offset-md-2">
			{{ foreach $articles as $article_row }}
				<div class="row">
					{{ foreach $article_row as $article }}
						<article class="col-md-{{ 12 / count($article_row) }}">
							<h2>{{ $article['title'] }}</h2>
							<p>{{ $article['description'] }}</p>
						</article>
					{{ endforeach }}
				</div>
			{{ forelse }}
				<div class="row">
					<article class="col-md-12">
						<h3 class="text-danger">No articles found.</h3>
					</article>
				</div>
			{{ endif }}
		</div>
	</div>
</section>