<section class="container-fluid flex-grow">
	{{$breadcrumb}}
	<div class="row h-100 d-flex align-items-center"><br /><br /><br /><br />
		<article class="col-md-4 offset-md-4 notFound">
			<h2 class="display-5">Page Not Found</h2>
			<hr />
			<small>Page: [{{$last_error_url}}] was not found</small>
			&nbsp;&nbsp;&nbsp;
			<a href="/" class="btn btn-danger btn-sm">Back to Home</a>
			<hr />
			<p>The page you were looking for is nowhere to be found. May have escaped our Database.</p>
			<p>Please try again later or take a look at our other pages for once.</p>
			<hr />
		</article>
	</div>
</section>